.App {
  text-align: center;
}

#homepage {
  font-family:'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}