.container-contact {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 50px;
    color:#333;
}

a.contact-type {
    margin-bottom: 20px;
    color: #333;
    font-size: larger;
}

.email {
    margin-top: 10px;
    color:#333;
    font-size: larger;
}